.category-product-container {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

.category-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(70, 88, 40);
  text-shadow: 1px 1px 2px rgb(183, 255, 107);
}

.product-list {
  display: flex;
  flex-direction: column;
}

.category-item {
  margin-bottom: 30px;
}

.category-name {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card_catagory {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card_catagory:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-photo-container {
  overflow: hidden;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 10px;
}

.product-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.selling-price {
  font-weight: bold;
  color: red;
}

.original-price {
  font-weight: bold;
  color: green;
  text-decoration: line-through;
}

.add-to-cart-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
  /* filter: blur(2px); */
}

@media (max-width: 768px) {
  .category-title {
    font-size: 15px;
    
  }

  .category-name {
    font-size: 18px;
  }

  .product-card_catagory {
    width: 100%;
  }
}